.about__section {
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 2rem;
  background-color: #ebd1ae;
  padding-top: 3%;
  padding-bottom: 3%;
}
.about__header {
  font-size: 7rem;
  margin-bottom: 10px; 
  position: relative;
  font-weight: bold;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.about__header2 {
  font-size: 2rem;
  text-transform: lowercase;
  font-weight: bold;
  font-family: 'Raleway', serif;
  text-align: center;
  padding-top: 1.5rem;
}
.about__cards {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  text-align: center;
}

.about__datasource {
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 4px 8px #0000001a; 
  background-color: #877978;
  color: #f1f0e2;
  padding: 1rem;
}
.about__text {
  font-size: 1.75rem;
  text-align: center;
  padding: 0 6rem;
  font-family: 'Poppins', sans-serif;
}
