.instance__page {
  display: flex;
  flex-direction: column;
  padding-top: 0rem;
  background-color: #ebd1ae;
  min-height: 100vh;
}
.instance__img {
  min-width: 50rem;
  align-self: center;
  padding-top: 3rem;
  /* align-content: center; */
}

.instance__section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 4rem;
  padding-right: 4rem;
}

.text__container {
  flex: 1;
  margin-right: 1rem; /* Adjust margin as needed */
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.google-map {
  padding-bottom: 1rem;
  position: relative;
  width: '600px';
  height: '600px';
}

.google-map iframe {
  height: 100%;
  width: 100%;
  right: 0%;
  top: 0;
  position: absolute;
}

.filter-container {
  position: relative;
  display: inline-block;
}

.filter-btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}