*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #f1f0e2;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  background: #7c826b;
}

.nav__logo {
  padding-right: 2rem;
}

.nav__brand {
  text-transform: uppercase;
  font-weight: bold;
}

.nav__link {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: lowercase;
  gap: 3rem;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #f1f0e2;
  transition: 0.4s ease-in;
}

.nav__toggler {
  cursor: pointer;
  display: none;
}

.nav img {
  max-width: 140px; /* Set the desired width of your clipped image container */
  max-height: 50px;
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
  }
  .nav__menu {
    position: absolute;
    z-index: 1;
    top: 7rem;
    right: 0%;
    width: 50%;
    height: 93vh;
    background: #7c826b;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav img {
    /* Set the desired width of your clipped image container */
    /* Set the desired width of your clipped image container */
    max-width: 100px;
    max-height: 80px;
    margin: 0 auto; /* Center the container horizontally */
  }
}

.nav__active {
  transform: translateX(0%);
  transition: 0.5s ease-in;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
.search-popup-container {
  position: relative;
  background-color: #ebd1ae;
  z-index: 1000; /* Ensure the popup is on top of other content */
  display: flex;
  align-self: flex-end;
  justify-content: flex-end; /* Align the popup to the right */
}

.search-popup {
  position: relative;
  width: 300px; /* Adjust width as needed */
  background-color: #7C826B;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px; /* Adjust margin from the top */
  margin-right: 10px;
}

