.splash-container {
  position: auto;
  overflow: hidden;
}
.splash-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: -1;
}

.splash_img {
  width: 100%;
  opacity: 0.5;
  min-height: 100vh;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 10%;
}

.welcome-text h1 {
  color: inherit;
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent; 
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; 
  }
  50% {
    border-color: #7c826b; 
    border-width: 5px;
    height: 70%;
  }
}

.stats-section {
  text-align: center;
  margin-top: -0.7rem;
}
.title {
  font-size: 25px; 
  margin-bottom: 10px; 
  position: relative;
  top: 25px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.statistic {
  text-align: center;
  width: 33%; /* Set fixed width */
}

.statistic-number {
  font-size: 48px;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;  
}

.statistic-description {
  font-size: 15px;
  word-wrap: break-word;
  text-transform: uppercase;
  padding-left: 5%;
  padding-right: 5%;
}

.statistic-icon {
  width: 20%;
  height: 20%;
  margin-top: 1.5rem;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .welcome-text h1 {
    left: 5%;
    max-width: 90%;
    white-space: normal;
    overflow: visible;
  }
}

.blank-space {
  height: 800px; /* Adjust the height as needed */
  background-color: transparent; /* Set a background color if you want */
}

.mission-paragraph {
  font-size: 1.2em;
  line-height: 1.5;
}

.mission-slide {
  position: relative;
  padding-top: 3rem;
  height: 500px;
  
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  /* position: relative; */
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.mission-section {
  text-align: left;
  padding: 7%;
}

.mission-title {
  font-size: 7rem;
  margin-bottom: 10px; 
  position: relative;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 20px); 
  background-color: #7C826B;
  color: #F1F0E2;
  border-radius: 10px;
  margin-top: 2%;
  padding: 4%;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #F1F0E2;
  color:  #7C826B;
}

.card-content {
  text-align: center;
}

.card-img {
  width: 30%;
  height: 30%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.card:hover .card-content i {
  background-image: url('../assets/splash_page/house-green.png');
}

.card-content h3 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.card-content p {
  font-size: 1.5rem;
}


.text-padder {
  text-align: left;
  font-size: 2rem;
  padding: 5%;
}

.veteran-stories-title {
  text-align: center;
  font-size: 4rem;
  font-family: 'Raleway';
  font-weight: bold;
  color: #7c826b;
}

.vet-quote-card {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
